<!doctype html>
        <html lang="en">
          <head>
              <meta charset="utf-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <meta http-equiv="Content-Type">
              <title>Самая шикарная визитка в этом мире</title>
              <link rel="stylesheet"
                    href="/static/my.css"
                    crossorigin="anonymous">
          </head>
          <body>
          <img src="static/my.css">
          <div style="padding: 10px 70px;">
                  <div style="float: left;">
                      <img src="/static/images/my.jpg" alt="">
                  </div>
                  <div style="float: right;">
                      <h1 style="padding: 30px 70px;">Середа Вероника Сергеевна</h1>
                      <h1>
                          Положительные качества:
                          <ul>
                              <li>Прекраснейший человек</li>
                              <li>Не кусаюсь (по будням точно)</li>
                              <li>Люблю капибар</li>
                          </ul>
                          Отрицательные качества:
                          <ul>
                              <li>В выходной могу кусить, если рано разбудить)</li>
                          </ul>
                      </h1>
                  </div>
          </div>
          </body>
</html>